.container5{
    margin: 0 auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color:  #ffddd2 ;
    
}

.title{
    margin: 0 auto;
    padding-top: 30PX;
    font-weight: lighter;
    letter-spacing: 20px;
    font-size: 1.5em;
    color: #EF8B8B;
    position: relative;
    bottom: 0px;
}

.owl-carousel{
    margin-top: 60px;
    align-items: center;
    flex-direction: row;   
    justify-content: center;
    bottom: 80px;
}

.owl-carousel .item{
    width: 800px;
    padding-top: 50px;
    right: 370px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.owl-carousel .item img{
    width: 520px;
    height: 650px;
    border-radius: 5px;
    opacity: 0.5;
    margin: 0 auto;
    
}

.owl-carousel .item p{
    opacity: 0;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.owl-item.center p{
    display: inline-block;
    z-index: 5;
    position: absolute;
    font-family:'spinwerad';
    font-size: 8rem;
    letter-spacing: 40px;
    color: #ef8b8bbc;
    margin: 0 auto;
    top:50%; left:52%;
    transform: translate(-50%, -70%);
    opacity: 1;
    animation: .2s fade-in 1.5s forwards;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    
}

.owl-item.center img{
    opacity: 1;
}

.owl-item.center{
    top: 55px;
}

.owl-dots {
    display: none;
}


@media screen and (max-width:1200px){
    .owl-carousel{
        margin-top: 80px;
        bottom: 100px;
    }

    .owl-carousel .item{
        width: 500px;
        right: 0px;
    }

    .owl-carousel .item img{
        width: 320px;
        height: 420px;
        border-radius: 5px;
        margin: 0 auto;   
    }

    .owl-item.center p{
        z-index: 5;
        font-size: 5.3rem;
        letter-spacing: 20px;
        opacity: 1;
    }
}